@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;700&display=swap');

:root {
  --background: #fff;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Khula', Arial, Helvetica, sans-serif; 
}